.header {  
    padding-top: 28px;
    &__logo {
        display: block;
        border-radius: 41px;
        background: rgba(12, 114, 157, 0.1);
        backdrop-filter: blur(5px);
        
    }

    &__logo-img {
        max-width: 160px;
        width: 100%;
        height: 64px;
        margin: 0 auto;
        display: block;
    
        &--alt {
            display: none;
        }
    } 

}
