.offer {
    margin-top: 80px;
    &__row {
        column-gap: 65px;
    }

    &__col {
        &--left {
            width: 50.847%;
        }

        &--right {
            flex: 1;
            width: 100%;
        }
    }

    &__rewards {
        
        display: flex;
        align-items: center;
        column-gap: 27px;
    }

    &__rewards-item {
        max-width: 181px;
        img {
            width: 100%;
        }
    }

    &__title {
        color: #10182b;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #10182b;
        font-family: Manrope;
        margin-top: 70px;
        font-size: 55px;
        line-height: 120%;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__descr {
        margin-top: 24px;
        margin-bottom: 0;
        font-size: 30px;
        font-weight: 400;
        line-height: 140%;
    }

    &__dominates {
        display: flex;
        flex-direction: column;
        gap: 65px;
    }

    &__dominates-item {
        display: block;
        box-shadow: 11px 16px 30px 0px rgba(178, 178, 178, 0.25);
        &:first-child {
            transform: rotate(-4.177deg);
        }

        &:last-child {
            transform: rotate(4.177deg);
        }
    }
}
.row {
    display: flex;
}
.dominates-card {
    display: flex;
    column-gap: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 14px;
    align-items: center;
    border-radius: 52px;
    border: 1px solid var(--black);

    &--alt {
        background-color: var(--black);

        .dominates-card__icon {
            color: #fff;
        }

        .dominates-card__text{
            color: #fff;
        }
    }

    &__icon {
        max-width: 51px;
        max-height: 52px;
        width: 100%;
        color: var(--black);
        display: block;
    }

    &__text {
        flex: 1;
        color: var(--black);
        font-size: 20px;
        line-height: 140%;
        strong {
            font-weight: 600;
        }
    }
}

.dominates {
    margin-top: 164px;
    &__title {
        max-width: 367px;
    }

    &__items {
        margin-top: 69px;
        display: flex;
        row-gap: 20px;
        flex-wrap: wrap;
        column-gap: 40px;
    }

    &__item {
        max-width: 370px;
        width: 100%;
    }
}

.partners {
    margin-top: 169px;
    &__title {
    }

    &__items {
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 45px;
    }

    &__item {
        img {
            max-width: 220px;
            height: auto;
            display: block;
            width: 100%;
        }
    }
}


.upload {
    margin-top: 125px;
    &__form {
        border-radius: 30px;
        cursor: pointer;
        &.drag-over .upload__form-area {
            background: #0c729d1a;
        }
        &:hover .upload__form-area {
            background-color: #0c729d1a;
        }
    }

    &__form-area {
        text-align: center;
        max-width: 1187px;
        margin-left: auto;
        margin-right: auto;
        padding: 84px 0;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 30px;
        overflow: hidden;
        background: url("../images/graphics/uploadBorder.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left top;
        backdrop-filter: blur(5px);
        transition: 0.3s;
    }

    &__form-title {
        font-size: 20px;
        font-weight: 300;
        line-height: 120%;
        color: var(--black);
    }

    &__form-btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        pointer-events: none;
    }

    &__form-formats {
        font-size: 16px;
        font-weight: 300;
        line-height: 125%;
        margin-top: 32px;
        color: var(--black);
    }
}

.result {
    margin-top: 106px;
    &__title {

    }

    &__content {
        margin-top: 63px;
    }

    &__content-header {
        display: flex;
        justify-content: space-between;
        background-color: var(--black);
        color: #fff;
        border-radius: 69px;
        padding: 15px 40px 15px 75px;
    }

    &__content-name {
    }

    &__content-errors {
        display: flex;
        column-gap: 15px;
        font-weight: 700;
    }

    &__content-errors-label {
    }

    &__content-errors-cur {
    }

    &__content-accordion {
        margin-top: 35px;
        background-color: #fff;
        border-radius: 30px;
        padding: 30px 0 40px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }

    &__content-accordion-item {

        &.js-close .result__content-accordion-icon {
            transform: rotate(180deg);
        }
        
        &.js-close .result__content-accordion-content {
            max-height: 0 !important;
        }
    }

    &__content-accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: 7.61px;
        padding-bottom: 7.61px;
        padding-left: 55px;
        padding-right: 75px;
        column-gap: 30px;
        cursor: pointer;
    }

    &__content-accordion-title {
        color: #182433;
        font-weight: 600;
        font-size: 26px;
        line-height: 28px; /* 107.692% */
    }

    &__content-accordion-icon {
        transform: rotate(0);
        transition: .3s;
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__content-accordion-content {
        padding-left: 55px;
        padding-right: 75px;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        height: 100%;
        ul {
            margin: 25px 0 32px;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            font-size: 18px;
            line-height: normal;
            color: #182433;

            li span {
                font-size: 22px;
                font-weight: 600;
            }
        }
    }

    &__btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 65px;
    }

    &__upload-area {
        display: none;
    }

}